[submodule "ctags"]
	path = ctags
	url = https://github.com/universal-ctags/ctags
[submodule "ionescu007-SimpleVisor"]
	path = ionescu007-SimpleVisor
	url = https://github.com/ionescu007/SimpleVisor
[submodule "windows-graphics-programming-src"]
	path = windows-graphics-programming-src
	url = https://github.com/tpn/windows-graphics-programming-src
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
[submodule "EasyHook"]
	path = EasyHook
	url = https://github.com/EasyHook/EasyHook
[submodule "mhook"]
	path = mhook
	url = https://github.com/martona/mhook
[submodule "Deviare-InProc"]
	path = Deviare-InProc
	url = https://github.com/nektra/Deviare-InProc
[submodule "AeonProfiler"]
	path = AeonProfiler
	url = https://github.com/botman99/AeonProfiler
[submodule "TurboPFor"]
	path = TurboPFor
	url = https://github.com/powturbo/TurboPFor
[submodule "libvbyte"]
	path = libvbyte
	url = https://github.com/cruppstahl/libvbyte
[submodule "microsoft-pdb"]
	path = microsoft-pdb
	url = https://github.com/Microsoft/microsoft-pdb
[submodule "PolyHook"]
	path = PolyHook
	url = https://github.com/stevemk14ebr/PolyHook
[submodule "fibratus"]
	path = fibratus
	url = https://github.com/rabbitstack/fibratus
[submodule "stevemk14ebr-capstone"]
	path = stevemk14ebr-capstone
	url = https://github.com/stevemk14ebr/capstone
[submodule "medusa"]
	path = medusa
	url = https://github.com/wisk/medusa
[submodule "HeapProfiler"]
	path = HeapProfiler
	url = https://github.com/kg/HeapProfiler
[submodule "isa-l"]
	path = isa-l
	url = https://github.com/01org/isa-l
[submodule "Blackbone"]
	path = Blackbone
	url = https://github.com/DarthTon/Blackbone
[submodule "DarkMMap"]
	path = DarkMMap
	url = https://github.com/DarthTon/DarkMMap
[submodule "Xenos"]
	path = Xenos
	url = https://github.com/DarthTon/Xenos
[submodule "processhacker2"]
	path = processhacker2
	url = https://github.com/processhacker2/processhacker2
[submodule "ALPC"]
	path = ALPC
	url = https://github.com/avalon1610/ALPC
[submodule "drmemory"]
	path = drmemory
	url = https://github.com/dynamorio/drmemory
[submodule "dynamorio"]
	path = dynamorio
	url = https://github.com/DynamoRIO/dynamorio
[submodule "LPC"]
	path = LPC
	url = https://github.com/avalon1610/LPC
[submodule "HexRaysCodeXplorer"]
	path = HexRaysCodeXplorer
	url = https://github.com/REhints/HexRaysCodeXplorer
[submodule "hexrays-python"]
	path = hexrays-python
	url = https://github.com/EiNSTeiN-/hexrays-python
[submodule "ida_ifl"]
	path = ida_ifl
	url = https://github.com/hasherezade/ida_ifl
[submodule "Kam1n0-Plugin-IDA-Pro"]
	path = Kam1n0-Plugin-IDA-Pro
	url = https://github.com/McGill-DMaS/Kam1n0-Plugin-IDA-Pro
	path = funcap
	url = https://github.com/deresz/funcap
[submodule "SLAyer"]
	path = SLAyer
	url = https://github.com/Microsoft/SLAyer
[submodule "z3"]
	path = z3
	url = https://github.com/Z3Prover/z3
[submodule "pyxed"]
	path = pyxed
	url = https://github.com/huku-/pyxed
[submodule "pintools"]
	path = pintools
	url = https://github.com/jingpu/pintools
[submodule "strata"]
	path = strata
	url = https://github.com/StanfordPL/strata
[submodule "Scylla"]
	path = Scylla
	url = https://github.com/NtQuery/Scylla
[submodule "distormx"]
	path = distormx
	url = https://github.com/gdabah/distormx
[submodule "Simd"]
	path = Simd
	url = gh:ermig1979/Simd
[submodule "stackwalker"]
	path = stackwalker
	url = https://git01.codeplex.com/stackwalker
[submodule "x64dbg"]
	path = x64dbg
	url = https://github.com/x64dbg/x64dbg
[submodule "osquery"]
	path = osquery
	url = https://github.com/facebook/osquery
