[submodule "ctags"]
	path = ctags
	url = https://github.com/universal-ctags/ctags
[submodule "ionescu007-SimpleVisor"]
	path = ionescu007-SimpleVisor
	url = https://github.com/ionescu007/SimpleVisor
[submodule "windows-graphics-programming-src"]
	path = windows-graphics-programming-src
	url = https://github.com/tpn/windows-graphics-programming-src
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
[submodule "EasyHook"]
	path = EasyHook
	url = https://github.com/EasyHook/EasyHook
[submodule "mhook"]
	path = mhook
	url = https://github.com/martona/mhook
[submodule "Deviare-InProc"]
	path = Deviare-InProc
	url = https://github.com/nektra/Deviare-InProc
[submodule "AeonProfiler"]
	path = AeonProfiler
	url = https://github.com/botman99/AeonProfiler
