[submodule "ctags"]
	path = ctags
	url = https://github.com/universal-ctags/ctags
[submodule "ionescu007-SimpleVisor"]
	path = ionescu007-SimpleVisor
	url = https://github.com/ionescu007/SimpleVisor
[submodule "windows-graphics-programming-src"]
	path = windows-graphics-programming-src
	url = https://github.com/tpn/windows-graphics-programming-src
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
[submodule "EasyHook"]
	path = EasyHook
	url = https://github.com/EasyHook/EasyHook
[submodule "mhook"]
	path = mhook
	url = https://github.com/martona/mhook
[submodule "Deviare-InProc"]
	path = Deviare-InProc
	url = https://github.com/nektra/Deviare-InProc
[submodule "AeonProfiler"]
	path = AeonProfiler
	url = https://github.com/botman99/AeonProfiler
[submodule "TurboPFor"]
	path = TurboPFor
	url = https://github.com/powturbo/TurboPFor
[submodule "libvbyte"]
	path = libvbyte
	url = https://github.com/cruppstahl/libvbyte
[submodule "microsoft-pdb"]
	path = microsoft-pdb
	url = https://github.com/Microsoft/microsoft-pdb
[submodule "PolyHook"]
	path = PolyHook
	url = https://github.com/stevemk14ebr/PolyHook
[submodule "fibratus"]
	path = fibratus
	url = https://github.com/rabbitstack/fibratus
[submodule "stevemk14ebr-capstone"]
	path = stevemk14ebr-capstone
	url = https://github.com/stevemk14ebr/capstone
[submodule "medusa"]
	path = medusa
	url = https://github.com/wisk/medusa
[submodule "HeapProfiler"]
	path = HeapProfiler
	url = https://github.com/kg/HeapProfiler
[submodule "isa-l"]
	path = isa-l
	url = https://github.com/01org/isa-l
[submodule "Blackbone"]
	path = Blackbone
	url = https://github.com/DarthTon/Blackbone
[submodule "DarkMMap"]
	path = DarkMMap
	url = https://github.com/DarthTon/DarkMMap
[submodule "Xenos"]
	path = Xenos
	url = https://github.com/DarthTon/Xenos
